/*****************************/
/*        BASE STYLES        */
/*****************************/	
html {
    font-size:16px;
}

a {
    color: inherit; 
    text-decoration: inherit; 
  }

body { 
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

.site {
    max-width: 1210px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
h2 {
    font-size: 1.125em;
    font-family: "Montserrat";
    color: rgb(119, 164, 102);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.278;
    padding: 15px 0;
    width: 100%;
  }

p {
    padding: 15px 0;
    font-size: 1em;
    font-family: "Montserrat";
    line-height: 1.563;
}
  
h3 {
    font-size: 0.75em;
    font-family: "Montserrat";
    font-weight: bold;
    text-transform: uppercase;
  }

/*****************************/
/*           HEADER          */
/*****************************/

.header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

header h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-weight: bold;
    font-size: 1.875em;
    line-height: 23px;
    padding: 30px 0 35px 5px;
    border-bottom: #77a466 2px solid;
    width: 100%;
    text-align: center;
}
header .contrast-text {
    color: #77a466
}

.navbar {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.875em;
    line-height: 23px;
    list-style: none;
    color: #77a466;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;

}
nav ul li {
    padding: 10px 28px;
    width: 100%;
    text-align: center;
}
header section {
    clear: both;
    box-sizing: border-box;
}
header img {
    box-sizing: content-box;
    width: 100%;
    border-top: 3px solid #77a466;
    border-bottom: 3px solid #77a466;
    margin: 15px 0;
}

/*****************************/
/*           ABOOT           */
/*****************************/

.specials {
    font-size: 1em;
    font-family: "Montserrat";
    color: rgb(119, 164, 102);
    padding-top: 25px;
    }
.specials li {
    line-height: 25px;
    padding-bottom: 7px;
}
.third-width {
    padding: 30px;
    box-sizing: border-box;
    border-top: 2px solid #dedbdc;
    margin-top: 15px;
    width: 100%;
    padding-left: 0;
}
.third-width p {
    line-height: 21px;
}

/*****************************/
/*           FOOTER          */
/*****************************/

footer {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    line-height: 23px;
    margin: 28px auto;
    width: 100%;
    text-align: center;
}
footer span {
    font-family: 'Galada', cursive;
    color: #77a466;
    text-transform: initial;
}

@media only screen and (min-width: 768px) {
    .third-width {
        width: 33.33%;
        border-left:#dedbdc 2px solid;
        border-bottom: #dedbdc 2px solid;
        padding-left: 30px;
    }

    .third-width:first-of-type {
        border-left: none;
        padding-left: 0;
    }

    .site {
        align-items: stretch;
    }
}

@media only screen and (min-width: 1200px) {
    
    .header {
        justify-content: space-between;
    }
    
    header h1 {
        border-bottom: none;
        text-align: left;
        width: auto;
    }

    nav ul li {
        display: inline-block;
        width: auto;
        padding: 0 28px;
    }
}